<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Prescription dashboard for MIE module (University of Manchester)">
  <meta name="author" content="Alan Davies">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
  <title>Prescribing dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HTML to PDF</title>
  <script src="https://rawgit.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>

  <!-- Custom fonts for this template-->
  <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Custom styles for this template-->
  <link href="{{ url_for('static', filename='css/sb-admin-2.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/abx.css') }}" rel="stylesheet">

  <!-- Chart.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.4.1/chart.min.js" integrity="sha512-5vwN8yor2fFT9pgPS9p9R7AszYaNn0LkQElTXIsZFCL7ucT8zDCAqlQXDdaqgA1mZP47hdvztBMsIoFxq/FyyQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- Custom scripts for the dashboard -->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  <script src="{{ url_for('static', filename='js/barchart.js') }}"></script>
  <script src="{{ url_for('static', filename='js/popup.js') }}"></script>

  <!-- Page script -->
  <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root | tojson | safe }};

        // Run JavaScript functions when page ready
        $(document).ready(function () {
            initializeMain();
            barChart.drawChart({{pct|tojson}}, "bar-chart");
        });
  </script>
</head>

<body id="page-top">

<div id="pdfContainer">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-info sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Divider -->
      <hr class="sidebar-divider my-0">
      <img id="uom-logo" src="{{url_for('static', filename='img/logo-uom.png') }}" />
      <br />
      <hr class="sidebar-divider my-0">
      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <div class="nav-link" onclick="popup.showAboutPopup();">
          <i class="fas fa-info-circle"></i>
          <span>About</span></div>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Main menu:
      </div>



      <!-- Nav Item - Utilities Collapse Menu -->
      <li class="nav-item">
        <div class="nav-link" onclick="popup.showCeatCalcFormPopup();">
          <i class="fas fa-calculator"></i>
          <span>Creatinine clearance</span>
        </div>
      </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Generate Report button -->
        <li class="nav-item">
        <div class="nav-link" onclick="generatePDF()">
          <i class="fas fa-print"></i>
          <span>Generate report</span>
        </div>
      </li>


      <!-- Divider -->
      <hr class="sidebar-divider">
    </ul>

    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fas fa-arrow-left"></i>
          </button>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>

              <!-- Sidebar Toggler (Sidebar) -->
              <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
              </div>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">


          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Prescribing Dashboard</h1>
          </div>

          <!-- Content Row -->
          <div class="row">

            <!-- Total items -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total items:</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ tile_data[0] }}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-pills fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Mean ACT cost -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Average ACT cost:</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">£{{agerage_cost}}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-pound-sign fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Top prescribed items -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">TOP PRESCRIBED ITEM:</div>
                      <span class="text_col_black">{{top_prescribed_item}}</span>
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{max_value_percentage}}%</div>
                        </div>
                        <div class="col">
                          <div class="progress progress-sm mr-2">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 0.14%" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Number of Unique Items -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">NUMBER OF UNIQUE ITEMS:</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{number_of_unique_items}}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-fingerprint fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>


              <!-- Content Row -->
              <div class="row">
                <div class="col-xl-12 col-lg-7">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Prescribed items per Primary Care Trust (PCT)</h6>
                        </div>
                        <div class="card-body" style="width: 100%; ">
                            <canvas id="bar-chart" style="width: 100%;"></canvas>
                        </div>
                    </div>
                </div>
            </div>

              <!-- Content Row -->
              <div class="row last-row">

                  <!-- Content Column -->
                  <div class="col-xl-6">

                    <!-- Infection treatment drugs -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Infection treatment drug as % of all infection treatments</h6>
                        </div>

                        <!-- Progress bar for Antibacterial -->
                        <div class="mb-1 text-sm-left">
                            <div class="d-flex justify-content-between align-items-center">
                                <p class="small mx-2" style="margin-top: 10px">Antibacterial : 82.25%</p>
                                </div>
                                <div class="progress mx-2" style="height: 15px; margin-top: -15px; margin-bottom: 20px">
                                    <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 82.25%;" aria-valuenow="82.25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>

                        <!-- Progress bar for Antifungal -->
                            <div class="mb-1 text-sm-left">
                                <div class="d-flex justify-content-between align-items-center">
                                    <p class="small mx-2">Antifungal : 5.22%</p>
                                </div>
                                <div class="progress mx-2" style="height: 15px; margin-top: -15px; margin-bottom: 20px">
                                    <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 5.22%;" aria-valuenow="5.22" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>

                        <!-- Progress bar for Antiviral -->
                            <div class="mb-1 text-sm-left">
                                <div class="d-flex justify-content-between align-items-center">
                                    <p class="small mx-2">Antiviral : 2.68%</p>
                                </div>
                                <div class="progress mx-2" style="height: 15px; margin-top: -15px; margin-bottom: 20px">
                                    <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 2.68%;" aria-valuenow="2.68" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>

                        <!-- Progress bar for Antiprotozoal -->
                            <div class="mb-1 text-sm-left">
                                <div class="d-flex justify-content-between align-items-center">
                                    <p class="small mx-2">Antiprotozoal : 9.62%</p>
                                </div>
                                <div class="progress mx-2" style="height: 15px; margin-top: -15px; margin-bottom: 20px">
                                    <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 9.62%;" aria-valuenow="9.62" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>

                        <!-- Progress bar for Antihelmintics -->
                            <div class="mb-1 text-sm-left">
                                <div class="d-flex justify-content-between align-items-center">
                                    <p class="small mx-2">Antihelmintics : 0.23%</p>
                                </div>
                                <div class="progress mx-2" style="height: 15px; margin-top: -15px; margin-bottom: 20px">
                                    <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 0.23%;" aria-valuenow="0.23" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>


                  <!-- Content Column -->
                  <div class="col-xl-6">



                  <!--The following is barchart-->
 <div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Antibiotic Prescriptions in Selected PCT Practices</h6>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col">
        <form id="antibiotics-form" method="POST">
          <div class="form-group row">
              <div class="col-sm-8">
              <style>
    .antibiotics-bar {
    background-color: #FFD700;
    height: 20px;
    margin-bottom: 5px;
    position: relative;
    min-width: 5px;
    max-width: 100%;
}

    .antibiotics-bar-value {
    position: absolute;
    left: 5px;
    top: 0;
    color: white;
    display: block;
}
</style>

                <select class="form-control" id="antibiotics-pct-select" name="pct-option">
                {% for pct in pct_list %}
                <option value="{{ pct }}">{{ pct }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div id="antibiotics-chart-container" class="chart-container">
      <!-- bar chart -->
    </div>
  </div>
</div>

<script>
// DOM done

document.addEventListener('DOMContentLoaded', function() {
    // When change
    $('#antibiotics-pct-select').change(function() {
        var selectedPCT = $(this).val();
        // AJAX
        $.ajax({
            url: "{{ url_for('dashboard.get_antibiotics_data') }}",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify({ 'selected_pct': selectedPCT }),
            dataType: "json",
            success: function(data) {
    var chartContainer = $('#antibiotics-chart-container');
    chartContainer.empty();
    if (data && data.length > 0) {
    var maxValue = Math.max.apply(Math, data.map(function(o) { return o.total_quantity; })) || 1; // denominator ueq to 0
    var scale = chartContainer.width() / maxValue; // Scale
    data.forEach(function(prescription) {
        // show barchart
        var barContainer = $('<div>').addClass('d-flex align-items-center');
        var practiceLabel = $('<span>').text(prescription.practice).css({ 'min-width': '100px', 'display': 'inline-block' }); // 分配空间给 practice 名称
        var bar = $('<div>').addClass('antibiotics-bar').css('width', scale * prescription.total_quantity + 'px'); // 使用比例因子缩放宽度
        var valueLabel = $('<span>').addClass('antibiotics-bar-value').text(prescription.total_quantity);

        // put label practice
        bar.append(valueLabel);
        barContainer.append(practiceLabel).append(bar);
        chartContainer.append(barContainer);

        bar.append(valueLabel); // Place numeric labels inside the bar chart
            barContainer.append(practiceLabel).append(bar);
            chartContainer.append(barContainer);
        });
 } else {
        // no practice
        chartContainer.append('<p class="text-center">No data available for the selected PCT.</p >');
    }
},
            error: function(error) {
                // error
                console.error('Error fetching data: ', error);
            }
        });
    });
});
</script>



                      <!-- Show the BNF data for selected PCT -->
                      <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">BNF data per PCT</h6>
                        </div>
                        <div class="card-body">
                            <form method='POST' action="{{ url_for('dashboard.home') }}">
                                <select class="custom-select" id="input-group-select" name="pct-option">
                                    {% for item in pct_list %}
                                    <option name="option-list" value="{{ item }}">{{ item }}</option>
                                    {% endfor %}
                                </select>
                                <input type="submit" value="Update" class="btn btn-outline-secondary" />
                            </form>
                            <hr />
                            <table class="table">
                            <thead>
                                <td>Practice</td>
                                <td>BNF code</td>
                                <td>BNF name</td>
                                <td>Items</td>
                            </thead>
                                <tbody>
                                {% for row in pct_data %}
                                    <tr>
                                        <td>{{ row.practice }}</td>
                                        <td>{{ row.BNF_code }}</td>
                                        <td>{{ row.BNF_name }}</td>
                                        <td>{{ row.items }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                      </div>
                  </div>
              </div>
          </div>

<div class="row">
  <div class="col-xl-6">
        <!-- Search Box Card -->
       <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">BNF Search</h6>
            </div>
            <div class="card-body">
              <form action="/dashboard/home/" method="POST">
                <div class="search-box">
                    <input type="text" class="form-control mb-2" id="searchInput" name="search" placeholder="Enter BNF Name or Code" value="{{ search_query }}">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
              </form>

<!-- create table for returned value -->
         <table class="table mt-3" id="resultTable">
                    <thead>
                        <tr>
                            <th>BNF Code</th>
                            <th>BNF Name</th>
                            <th>Number of Practices</th>
                            <th>Number of Items</th>
                            <th>Average Cost</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Results populated here -->
                        {% if search_results %}
                            {% for row in search_results %}
                            <tr>
                                <td>{{ row.BNF_code }}</td>
                                <td>{{ row.BNF_name }}</td>
                                <td>{{ row.num_practices}}</td>
                                <td>{{ row.item_sum }}</td>
                                <td>{{ row.avg_cost }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <!-- Show this row if there are no search results -->
                        <tr>
                            <td colspan="5">No search results to display.</td>
                        </tr>
                    {% endif %}
                 </tbody>
         </table>
       </div>
  </div>
</div>


         <!-- Creatinine clearance calculator -->
<div id="creat-calc">
    <div class="card">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Creatinine clearance calculator</h6>
        </div>
        <div class="card-body">
            <div>
                <p> Sex of patient:</p>
                <select name="sex" id="sex">
                  <option disabled selected value>select...</option>
                  <option value="m">Male</option>
                  <option value="f">Female</option>
                </select>
                <br /><br />
                <p>Age of patient (years):</p>
                <input type="number" min="1" max="120" id="age" />
                <br /><br />
                <p>Weight of patient (kg):</p>
                <input type="number" min="1" max="120" id="weight" />
                <br /><br />
                <p>Serum creatinine (micromol/L):</p>
                <input type="number" min="1" max="120" id="creatinine" />
                <br />
            </div>
            <br>
            <div>
            <strong style="color:royalblue;" id="result"></strong>
            </div>
            <hr />
            <!-- Add the id="calculate-btn" here -->
            <button type="button" class="btn btn-primary" id="calculate-btn" onclick="calculateCreatinineClearance()">Calculate </button>
            <button type="button" class="btn btn-secondary" id="clear-btn" onclick="clearCalculator()">Clear</button>
            <button type="button" class="btn btn-danger" onclick="popup.hideCeatCalcFormPopup();">Close</button>
            
        <br />
        </div>
    </div>
</div>

<script>
  function calculateCreatinineClearance() {
      
      // Get input values
      var age = document.getElementById('age').value;
      var weight = document.getElementById('weight').value;
      var creatinine = document.getElementById('creatinine').value;
      var sex = document.getElementById('sex').value;

       // Validate input fields
            if (!sex || !age || !weight || !creatinine) {
              alert("All fields are required.");
              return;
            }


            age = parseFloat(age);
            weight = parseFloat(weight);
            creatinine = parseFloat(creatinine);

            if (age < 1 || age > 120) {
                alert("Please enter an age between 1 and 120 years.");
                return;
            }

            if (weight < 1 || weight > 120) {
                alert("Please enter a weight between 1 and 120 kg.");
                return;
            }

            if (creatinine > 2000) {
                alert("Serum creatinine seems incorrect. Please check the value.");
                return;
            } else if (creatinine > 500) {
                if (!confirm("Serum creatinine is high. Are you sure?")) {
                    return;
                }
            }

      // Calculate creatinine clearance using Cockcroft-Gault equation
      var result = (140 - age) * weight * 1.23/ creatinine;
      if (sex == "f") {
          result *= 0.85;
      }

      // Display the result
      document.getElementById('result').innerHTML = 'Creatinine Clearance: ' + result.toFixed(1) + ' mL/min';
  }

  //Clear calculator
  function clearCalculator() {
        document.getElementById('sex').value='';
        document.getElementById('age').value = '';
        document.getElementById('weight').value = '';
        document.getElementById('creatinine').value = '';
        document.getElementById('result').innerHTML = ''; 
    }
</script>

        <!-- Generate Report -->
        <script>
            function generatePDF() {
          // Pass the container div to html2pdf
            html2pdf(document.getElementById('pdfContainer')).then(function(canvas) {
              // Create a new jsPDF
              var pdf = new jsPDF('l', 'mm', 'a4');
              pdf.addImage(canvas.toDataURL('image/png'), 'PNG', 10, 10, 280, 200);
              pdf.rotate(90);

              // Save the PDF
              pdf.save('generated-pdf.pdf');
                });
            }
        </script>


          <!-- About popup -->
          <div id="about-box">
            <div class="card">
              <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">About the prescribing dashboard</h6>
                </div>
                <div class="card-body">
                  <p>This <strong> dashboard </strong> is designed to help providers or health departments monitor the distribution, cost
                    and use of drug prescriptions.
                    <p> <strong> Database </strong> comes from the practice level prescribing data provided by NHS Digital
                    which includes details of prescribing data and the details of the medications prescribed as well as the practices
                    (doctors' surgeries) names and addresses. </p>
                    <p> <strong> General info: </strong> The left side navigation bar contains the Introduction and Creatinine Clearance Calculator. <br>
                    The main page section starts with four important information about prescriptions and three
                    other modules. The bar graph represents the number of prescriptions issued by different Primary Care
                    Trusts (PCTs), the graph in the lower left corner represents the number of prescriptions issued by
                    different Primary Care Trusts (PCTs), and the information bar in the lower right corner categorises
                    specific providers by PCT, BNF codes, and a selection function. You can also use the search box based on
                    the drug name or BNF code for detailed quantity and cost information. Another bar chart is added to
                    visualise the total number of prescribed antibiotics for each GP practice in a selected PCT.
                    Overall, this dashboard is designed to better optimise resource allocation and improve outcomes.</p>

                  <p> <strong>TEAM Intro: </strong> </p>
                  <p>  Product owner: Michael – has experience as a clinician so best idea of customer’s needs </p>
                  <p>  Scrum master: Longdan – previous experience as scrum master</p>
                  <p>  Development/testing team: Enze, Fatima, Yang – Yang has the most experience in coding </p>
                  <br />
                  <hr />
                   <button type="button" class="btn btn-danger" onclick="popup.hideAboutPopup();">Close</button>
                </div>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Alan Davies 2021</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Page mask -->
  <div id="page-mask"></div>

  <!-- Custom scripts for all pages-->
  <script src="{{ url_for('static', filename='js/sb-admin-2.min.js') }}"></script>

</body>

</html>